<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/events.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/institute.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <title>CPFARA</title>
</head>
<body>
    <div>
        <div class="nav-div">
            <nav class="navbar navbar-light">
                <div class="container-fluid nav-content justify-content-between">
                    <a class="navbar-brand" href="/home"><h2>CPFARA</h2></a>
                    <div class="d-flex align-items-center">
                        <button class="btn subscribe btn-outline-danger my-2 my-sm-0" type="button" onclick="navigateToSubscribe()">Subscribe</button>
                        <i style="color: white;" class="fa-solid fa-circle-user fa-2x ml-2"></i>
                    </div>
                </div>
            </nav>
        </div>
        <div class="institute-container">
            <div class="institute-sec">
                <div class="institute-name-container">
                    <h2 class="institute-name-header"></h2>
                </div>
                <div class="filter-container">
                    <div class="filter-sec">
                        <div class="filter-header-container">
                            <h2 class="filter-header">FILTERS</h2>
                        </div>
                        <div class="date-picker-container">
                            <div class="from-date-container">
                                <label for="from-date">From Date</label><br>
                                <input type="date" id="from-date" name="from-date">
                            </div>
                            <div class="to-date-container">
                                <label for="to-date">To Date</label><br>
                                <input type="date" id="to-date" name="to-date">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="events-list-container">
            <div class="events-list-sec">
                <div class="events-list-header">
                    <h2>Events List</h2>
                </div>
                <div class="edit-data-contianer" style="gap: 0; cursor: auto;">
                    <div id="download-btn" style="display: contents;">
                        <img style="vertical-align: middle;" class="edit-icon download-icon"
                            src="{{ url_for('static', filename='images/download-icon.svg') }}" alt="download-icon">
                        <span style="font-size: 0.75rem; text-decoration: underline;">Download Excel</span>
                    </div>
                </div>
                <div id="events-list-cards-container" class="events-list-cards-container">
                    <!-- Data will be populated here -->
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../static/js/institute.js"></script>
<script type="text/javascript" src="../static/js/home.js"></script>
</html>
